# Postgresql Config
POSTGRES_USER='user'
POSTGRES_PASSWORD='pass'
POSTGRES_DB='pm2_dashboard'
TZ='Asia/Tehran'
PGTZ='Asia/Tehran'
PG_OUT_PORT=54321

# Setting for app
WEB_PORT=8080
PG_PORT=5432
SECRET_KEY='random string with symbols, digits, chars, ...'
SQLALCHEMY_DATABASE_URI='postgresql://user:pass@postgresql:5432/pm2_dashboard'