{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-unlock auth-icon"></i>
                </div>

                <h3 class="mb-4">Login</h3>

                <span class="mb-0 text-muted">
                    {% with default_msg="Enter your credentials", close_btn=false %}
                    {% include 'alert.html' %}
                    {% endwith %}
                </span>

                <br />

                <form role="form" method="post" action={{ url_for('auth_bp.login') }}>
                    {{ form.csrf_token() }}
                   
                    <div class="form-floating mb-3">
                        {{ form.username(placeholder="Username", class="form-control") }}
                    </div>

                    <div class="input-group mb-4">
                        {{ form.password(placeholder="Password", class="form-control") }}
                    </div>

                    <div class="form-group text-left">
                        <div class="checkbox checkbox-fill d-inline">
                            <input type="checkbox" name="remember_me" id="remember_me">
                            <label for="remember_me" class="cr"> Remember Me</label>
                        </div>
                    </div>

                    {{ form.submit(class="btn btn-primary shadow-2 mb-4")}}

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}