{% extends "layouts/base.html" %}

{% block title %} PM2 Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    table th,
    table td {
        text-align: center;
    }

    .htmx-indicator{
        opacity: 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 5px;
        text-align: center;
        transition: opacity 100ms ease-in;
    }
    .htmx-request .htmx-indicator{
        opacity: 1;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 5px;
        text-align: center;
    }
    .htmx-request.htmx-indicator{
        opacity: 1;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 5px;
        text-align: center;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        {% with default_msg="", close_btn=true %}
                        {% include 'alert.html' %}
                        {% endwith %}

                        {% if refresh_interval is not none %}
                        <div hx-get="{{url_for('server_bp.reload_server_pm2_processes', id=server_id) }}"
                             hx-trigger="every {{ refresh_interval }}" 
                             hx-target="#pm2ListTb"
                             hx-indicator="#spinner">
                        </div>
                        {% endif %}

                        <div class="pcoded-inner-content">
                            <!-- [ breadcrumb ] start -->
                            <div class="page-header">
                                <div class="page-block">
                                    <div class="row align-items-center">
                                        <div class="col-md-12">
                                            <ul class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="/"><i
                                                            class="feather icon-home"></i></a></li>
                                                <li class="breadcrumb-item active">{{ server_name }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ breadcrumb ] end -->
                        </div>

                        <!-- <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-auto text-left">
                                                <i class="fa fa-duotone fa-server text-primary f-40"></i>
                                            </div>
                                            <div class="col text-center">
                                                <h3 class="m-0">{{ server_name }}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">Refresh</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item"
                                                href="{{url_for('server_bp.show_server_pm2_processes', id=server_id) }}">Off</a>
                                            <a class="dropdown-item"
                                                href="{{url_for('server_bp.show_server_pm2_processes', id=server_id, refresh_interval='5s') }}">5s</a>
                                            <a class="dropdown-item"
                                                href="{{url_for('server_bp.show_server_pm2_processes', id=server_id, refresh_interval='10s') }}">10s</a>
                                            <a class="dropdown-item"
                                                href="{{url_for('server_bp.show_server_pm2_processes', id=server_id, refresh_interval='30s') }}">30s</a>
                                            <a class="dropdown-item"
                                                href="{{url_for('server_bp.show_server_pm2_processes', id=server_id, refresh_interval='1m') }}">1m</a>
                                            <a class="dropdown-item"
                                                href="{{url_for('server_bp.show_server_pm2_processes', id=server_id, refresh_interval='5m') }}">5m</a>
                                            <a class="dropdown-item"
                                                href="{{url_for('server_bp.show_server_pm2_processes', id=server_id, refresh_interval='10m') }}">10m</a>
                                        </div>
                                    </div>
                                    <input type="text" class="input text-center" style="width: 18%"
                                        value="{{ refresh_interval if refresh_interval is not none else 'Off' }}"
                                        disabled>
                                    <button class="btn btn-secondary ml-2 mr-0" 
                                            type="button"
                                            hx-get="{{url_for('server_bp.reload_server_pm2_processes', id=server_id) }}"
                                            hx-trigger="click"
                                            hx-target="#pm2ListTb"
                                            hx-indicator="#spinner">
                                        <i class="feather icon-refresh-cw mr-0"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- [ Main Content ] start -->
                        <div id="pm2ListTb">
                            {% with last_update=lastUpdate, pm2_process_list=pm2_process_list, action_url=action_url %}
                            {% include 'pm2_processes_table.html' %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}